.reviewsContainer {
	box-sizing: border-box;
	max-width: 1200px;
	padding: 2em;
	margin: 0 auto;
}

.quote {
	font-size: 1.5rem;
	line-height: 1.5rem;
	font-weight: 500;
}

@media (400px < width < 1200px)  {
	.reviewsContainer {
		max-width: 400px;
		margin: 0 auto;
	}
}

@media (width < 400px) {
	.reviewsContainer {
		max-width: 400px;
		margin: 2em auto 0;
	}
}


.navigation-wrapper {
	position: relative;
  }
  
  .dots {
	display: flex;
	padding: 10px 0;
	justify-content: center;
  }
  
  .dot {
	border: none;
	width: 10px;
	height: 10px;
	background: #c5c5c5;
	border-radius: 50%;
	margin: 0 5px;
	padding: 5px;
	cursor: pointer;
  }
  
  .dot:focus {
	outline: none;
  }
  
  .dot.active {
	background: #000;
  }
  
  .arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	fill: #000;
	cursor: pointer;
  }
  
  .arrow--left {
	left: -32px;
  }
  
  .arrow--right {
	left: auto;
	right: -32px;
  }
  
  .arrow--disabled {
	fill: rgba(255, 255, 255, 0.5);
  }
  